#aboutMe{
    width: 100%;
}
#misc-section-description{
    justify-content: center;
    margin-top: 45px;
}
.aboutme-icons{
    font-size: 25px;
    margin: 45px 20px 0px 0px;
}
.aboutme-icon{
    margin: 10px;
    color: var(--titleSectionSecondaryColor);
}
.aboutme-icon:hover{
    cursor: pointer;
    color: var(--titleSectionTetiaryColor);
}
.aboutme-icons > a{
    text-decoration: none;
}
.aboutme-CV > a{
    color: lightsteelblue;
    text-decoration: none;
    margin-top: 20px;
}
.aboutme-CV >a:hover{
    color: black;
}