
    :root {
        --titleSectionPrimaryColor: #1a0035;
        --titleSectionSecondaryColor:#9e8165;
    }
    #title{
        color: var(--titleSectionPrimaryColor);
        text-align: center;
        width: 100%;
        padding: 200px;
        background-image: url('../images/hubble-ngc2566-potw2451a.jpg');
        background-size: cover;
        background-position: center center;
    }
    .tittlesectionButton{
        color: var(--titleSectionPrimaryColor);
        border: solid var(--titleSectionPrimaryColor) 1px;
        border-radius: 5px;
        padding: 15px 20px;
        background-color: transparent;
    }
    .tittlesectionButton:hover {
        background-color: var(--titleSectionPrimaryColor);
        color: var(--titleSectionSecondaryColor);
        cursor: pointer;
    }

